* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --main-bg-color: rgb(56, 73, 51);
  --white-color: white;
  --pink-color: pink;
  --dark-bg: rgb(40, 39, 39);
  --text-bg: rgb(203, 200, 200);
  --text-spotify: rgb(86, 144, 86);
}
body {
  background-color: var(--main-bg-color);
  font-family: Poppins, sans-serif;
}

li a {
  color: var(--text-spotify);
}
header {
  background-color: var(--dark-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 10px;
}
li {
  list-style: none;
  font-size: 20px;
  text-align: center;
}
header h1 {
  color: var(--text-bg);
  font-size: 40px;
  text-align: center;
}
footer {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: var(--dark-bg);
  color: var(--text-bg);
  padding: 10px;
  margin-top: 20px;
}

.row1-container,
.row2-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.music {
  color: var(--pink-color);
}
p {
  text-align: center;
  margin-top: 10px;
}
span {
  color: var(--white-color);
}
img {
  border: 2px solid var(--pink-color);
  border-radius: 8px;
  width: 15rem;
  transition: transform 0.3s ease-in-out;
}
.row1-container div,
.row2-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.row1-container p,
.row2-container p {
  text-align: center;
  margin-top: 10px;
}
.music:hover {
  color: rgb(13, 31, 7);
  text-decoration: none;
}

img:hover {
  transform: scale(1.05);
}
