* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: rgb(56, 73, 51);
  overflow-x: hidden;
}
li a {
  color: rgb(86, 144, 86);
}
header {
  background-color: rgb(40, 39, 39);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 10px;
}
li {
  list-style: none;
  font-size: 20px;
  font-family: Poppins;
  text-align: center;
}
header h1 {
  color: rgb(178, 198, 179);
  font-size: 40px;
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(40, 39, 39);
  color: rgb(203, 200, 200);
  padding: 10px;
}
span {
  color: white;
}
.row1-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.row1-container img {
  width: 15rem;
}
.row2-container {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.row2-container img {
  width: 15rem;
}
a {
  color: pink;
}
p {
  text-align: center;
}
img {
  border: 2px solid pink;
}
